@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

body{
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 18px;
    font-weight: light;
    line-height: 150%;
    font-family: Lexent;
}
.hero_container{
    padding: 50px;
    border: 1px solid #262626;
    border-radius: 14px;
    max-width: 683px;
}
.hero_container_h1{
    font-size: 20px;
    max-width: 683px;
}
.hero_container_line{
    background-color: #262626;
    border: 1px solid #262626;
    max-width: 682px;
    height: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero_container_paragraph{
    color: #B3B3B3;
    max-width: 683px;
}